
.input-box-full {
    border-bottom: 1px solid #9e9b9b3d;
    box-shadow: 9px 9px 5px -3px rgba(179,169,169,0.58);
  -webkit-box-shadow: 9px 9px 5px -3px rgba(179,169,169,0.58);
  -moz-box-shadow: 9px 9px 5px -3px rgba(179,169,169,0.58);
  }